@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand';
    min-height: 100vh;
    background:linear-gradient(to right, #c1e1d2,#f6f8e8) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    width: 450px;
    background: rgb(225, 255, 255, 0.3);
    padding: 4rem;
    border-radius: 20px;
    position: relative;
}

.login-card img{
    width: 200px;
}

.login-card-logo, 
.login-card-header, 
.login-card-footer{
    text-align: center;
}

.login-card a{
    text-decoration: none;
}

.login-card a:hover{
    text-decoration: underline;
}

.login-card-header{
    margin-bottom: 2rem;
}

.login-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item{
    position: relative;
}

.login-card-form .form-item .form-item-icon{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    color: #747a81;
}

.login-card-form .form-item .label{
    position: absolute;
    left:50px;
    top: 13px;
    pointer-events: none;
    font-size: 14px;
    color: #747a81;
    transition: .5s;
}

.login-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem*.8);
    margin-bottom: .5rem;
}

.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem*.8);
}

.login-card input[type="text"],
.login-card input[type="password"]{
    border: none;
    outline: none;
    background: rgb(225, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem*3.5);
    border-radius: 100px;
    width: 100%;
}

.login-card input[type="text"]:valid,
.login-card input[type="password"]:valid,
.login-card input[type="text"]:focus,
.login-card input[type="text"]:focus{
    background:rgb(225, 255, 255, 0.7);
}

.login-card input[type="text"]:valid ~ .label,
.login-card input[type="password"]:valid ~ .label,
.login-card input[type="text"]:focus ~ .label,
.login-card input[type="text"]:focus ~ .label{
    color: #b4983ad8;
    transform: translate(10px,-10px);
    font-size: .8rem;
    margin-left: -2rem;
    top: -6px;
}

.login-card-form button{
    background: linear-gradient(to right, #131e42, #1a2f38);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 0.5s;
}

.login-card-form button:hover{
    background: rgb(0,0,0,.85);
    cursor: pointer;
}

.login-card-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 1.2rem;
}

.login-card-social > div{
    opacity: .8;
    letter-spacing: 1px;
    font-size: calc(1rem*.8);
}

.login-card-social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-card-social-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(225, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.facebook-logo{
    background: linear-gradient(to right, #002bff, #4415d3bf);
}

.instagram-logo{
    background: linear-gradient(to right, #833ab4, #fd1d1d9e, #fcb045);
}

.google-logo{
    background: linear-gradient(to right,#ff6d62, #fd9a01);
}

.login-card-social-btn a:hover{
    transform: scale(1.1);
    opacity: .8;
}