*{
    margin: 0;
}

*, ::before ::after{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: aboreto;
    font-size:small;
}

body a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px; 
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.66);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
} 


.name{
    font-family: aboreto;
    font-size: 1.2rem;
}


.icon img {
    width: 50px;
}

.navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: left 50px;
}

.navbar-logo img{
    width: 100px;
    display: block;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

.navbar-items{
    position: relative;
    width: 400px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    right:50px;
}

.navbar-items #list{
    padding: 30px;
    margin-top: 35px;
}

.navbar-items ul{
    display: flex;
    width: 350px;
}
.navbar-items ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navbar-items ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.navbar-items ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s;
    color: var(--clr);
}

.navbar-items ul li:hover a .icon{
    transform: translateY(-15px);
}

.navbar-items ul li .text{
    position: absolute;
    color: var(--clr);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
}

.navbar-items ul li:hover a .text{
    opacity: 1;
    transform: translateY(15px);
}

.navbar-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-login a{
    padding: 10px
}

h3{
    margin-left: 30px;
    font-smooth: always;
}

section{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#book-img img{
    width: 200px;
    height: 300px;  
}

.book{
    
    width: 200px;
    height: 370px;
    box-sizing: 300px;
    padding: 25px 15px;
    box-shadow: 0px 0px 0px;
    margin: 15px;
}